<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>264396878756-jf4esaspubiqcuhre28gdl8nd3cd3lch.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.264396878756-jf4esaspubiqcuhre28gdl8nd3cd3lch</string>
	<key>API_KEY</key>
	<string>AIzaSyC3PJqXhRfa0m1RVyWSxmc9kpvxu3cErG4</string>
	<key>GCM_SENDER_ID</key>
	<string>264396878756</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Tommy.Calendar</string>
	<key>PROJECT_ID</key>
	<string>calendar-b8327</string>
	<key>STORAGE_BUCKET</key>
	<string>calendar-b8327.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:264396878756:ios:01e181debf376261e0c731</string>
</dict>
</plist>